/* 

By - migte
ButtonSwitch by w3schools

*/



/* Prevents from being selected */
* {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0px;
}

/*Margins of each new list item for device list*/
li {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Main grid that holds everything*/
.grid {
    background: linear-gradient(to top, #c4ffdf 0%, #f2faf6 100% );
    margin: 0px;
    padding: 30px;
    display: grid;
    height: 90.4vh;
    grid-template-columns: [col1] .19fr [col2] 1fr;
    grid-template-rows: [row1] 1fr [row2] 1fr;
    border: 15px solid black;
}

/*Device List Container*/
#deviceList {
    border: 3px solid black;
    text-align: left;
    font-size: 30px;
    overflow: scroll;
    width: 400px;
    overflow-x: hidden;
    grid-column: col1;
    grid-row-start: row1;
    grid-row-end: row3;
}


.deviceListTitle {
    font-weight: bold;
    margin-right: 40px
}

.devicelistStatus {
    width: 10px;
    background-color: black;
    border: 5px solid red;
    margin-right: 15px;
    margin-left: 15px;
}
.ledListStatus {
    background-color: rgb(83, 83, 83);
    margin-right: 15px;
    font-size: 13px;
    padding-left: 0px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Checkmark styling */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid black;
  }
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Color picker css*/
.picker {
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}

#ColorSettings {
    text-align: left;
    justify-self: left;
    height: 50%;
    width: 70%;
    padding-top: 100px;
    padding-left: 260px;
    grid-row: row2;
    grid-column: col2;

}
#colorTitle {
    text-align: center;
    justify-self: center;
    font-size: 30px;
    padding-left: 18px;
    grid-row: row2;
    grid-column: col2;
}
/* Power Switch Settngs */
#powerTitle {
    grid-row: row1;
    grid-column: col2;
    font-size: 70px;
}
#power2Title {
    grid-row: row1;
    grid-column: col2;
    font-size: 30px;
}
#PowerSettings {
    grid-row: row1;
    text-align: center;
    justify-self: left;
    padding-left: 150px;
    height: 100%;
    width: 30%;
    grid-column: col2;

}

.switch {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 200px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch2 {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 30%;
}
  
.switch2 input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 50%;
    left: 15px;
    bottom: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(85%);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/**/
.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider2:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 46%;
    left: 15px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider2 {
    background-color: #2196F3;
}
  
input:focus + .slider2 {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider2:before {
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(85%);
}

.slider2.round {
    border-radius: 34px;
}
  
.slider2.round:before {
    border-radius: 50%;
}